extend ./base/layout
block pageContent
  include ./main/main.jade
  include ./main/about.jade
  //include ./episodes/episodes.jade
  include ./CTA/CTA-1.jade 
  include ./main/how.jade 
  include ./CTA/CTA-2.jade 
  include ./main/prize.jade 
  include ./CTA/CTA-3.jade 
  include ./main/training.jade 
  include ./CTA/CTA-4.jade 
  //include ./main/mentors.jade 
  include ./main/program.jade 
  include ./main/partners.jade 
  include ./CTA/CTA-5.jade 
  include ./main/location.jade 
  include ./main/apply.jade 