footer#footer.padding-top-s.padding-bottom-s
  .container
    .row
      .col-xs-12.center-container.text-center
        p.center-col Powered by:
        a(href='http://ad-ventures.pl/', itemprop='performer', itemscope='', itemtype='http://schema.org/Person')
          img.center-col.padding-left-m(src='assets/img/logo-ad-ventures.svg', alt='Ad Ventures', itemprop='name', height='70px')
        a(href='http://business.krakow.pl/', itemprop='performer', itemscope='', itemtype='http://schema.org/Person')
          img.center-col.padding-left-m(src='assets/img/logo-krakow.svg', alt='City Kraków', itemprop='name', height='70px')
