block ctaVars
  - air = {}
  - air.sectionId = 'CTA-air'
  - air.title = 'Join the Demo Day and win an Air Purifier!'
  - air.paragraph = 'For all people coming for the Demo Day we have exciting news one of you is coming back home with air purifier'
  
  - apply = {}
  - apply.sectionId = 'CTA-apply'
  - apply.title = 'Apply for the program here'
  - apply.paragraph = 'Learn how to pitch and meet investors and corporate representatives'
  
  - price = {}
  - price.sectionId = 'CTA-price'
  - price.title = 'Winter is coming! Win your own Air Purfier just by attending the event'
  - price.paragraph = '(and downloading the Dragon Events app)'
  - price.join = true

  - share = {}
  - share.sectionId = 'CTA-share'
  - share.title = 'Help us share the news!'
  - share.paragraph = 'Share this site with your friends'
  - share.share = true

  - volunteer = {}
  - volunteer.sectionId = 'CTA-volunteer'
  - volunteer.title = 'Want help us?'
  - volunteer.paragraph = 'Are you interested in startups? Want to find a job in our company?'
  - volunteer.share = true
  
  - seeyou = {}
  - seeyou.sectionId = 'CTA-seeyou'
  - seeyou.title = 'See you there!'
  - seeyou.paragraph = 'Want to join us as a partner and help make this program better?'
  - seeyou.partner = true
  
  - team = {}
  - team.sectionId = 'CTA-team'
  - team.title = 'Lorem ipsum dolor sit amet'
  - team.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'
  - team.team = true
  
  - three = {}
  - three.sectionId = 'CTA-3'
  - three.title = 'Lorem ipsum dolor sit amet'
  - three.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'
 
  - four = {}
  - four.sectionId = 'CTA-4'
  - four.title = 'Lorem ipsum dolor sit amet'
  - four.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'

  - five = {}
  - five.sectionId = 'CTA-5'
  - five.title = 'Lorem ipsum dolor sit amet'
  - five.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'

  - six = {}
  - six.sectionId = 'CTA-6'
  - six.title = 'Lorem ipsum dolor sit amet'
  - six.paragraph = 'Sed cursus turpis aliquet, malesuada felis et, feugiat felis. Donec non lorem venenatis, ornare quam nec, feugiat leo.'


  - ctaArray = [apply, price, share, volunteer, seeyou, air, team, three, four, five, six, share]

block includeCTALayout
  include ./../cta/mixin.jade