block headVars

  - mainPage = {}
  - mainPage.title = 'KRKroad 2017'
  - mainPage.desc = 'This year we want to prepare the startups to pitch perfectly to investors and corporations. Currently there is a significant amount of funding available in Polish Startup Ecosystem. But how to take advantage of it? How to convince the Investor to choose your project over this others? How to stand out from hundreds of other project? How to get attention of decision maker in a corporation? This program is aimed to help you to be show why you are better than the others.'


  - headArray = [mainPage]

block htmlContent
  div Default html content