section#about.padding-top-m.padding-bottom-m
  .container
    .row
      .col-xs-10.col-xs-offset-1
        h1.special-h1.padding-bottom-s.text-center About the program
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1.text-justify
        p.lead This year we want to prepare the startups to pitch perfectly to investors and corporations. Currently there is a significant amount of funding available in Polish Startup Ecosystem. But how to take advantage of it? How to convince the Investor to choose your project over this others? How to stand out from hundreds of other project? How to get attention of decision maker in a corporation? This program is aimed to teach you how to show why you are better than the others.
        p.lead You will get a chance to present in front of and speak with representatives of Investors and Corporations that will be present at the Demo Day. You will get valuable feedback, train your pitching and maybe convince them to work with you further. You will boost your chances of attracting a good investor or joining longer acceleration or incubation program. 
 