header#main.text-center
  .margin-top-l
  .container
    .row
      .col-xs-12
        .jumbotron
          h1.margin-top-xl.padding-top-s KRKroad: Perfect Pitch Edition
          h3.margin-top-xs Learn how to pitch and meet investors and corporate representatives
          p.lead.margin-top-s 23-24.10.2017, Kraków
          .margin-top-l.margin-bottom-m
            a.btn.btn-lg.btn-info(href="#apply") Apply for Pitch training
          .margin-top-s.margin-bottom-m
            a.btn.btn-lg.btn-primary(href="https://www.facebook.com/events/291245094689057/", target="_blank") Join the Demo Day and win an Air Purifier!
    .row.center-container.padding-top-m.padding-bottom-l
      .col-xs-5.col-sm-3.col-lg-2.text-left.center-col
        a(href='http://business.krakow.pl/')
          img.center-col(src='assets/img/logo-krakow.svg', alt='Kraków logo', itemprop='logo', width="100%")
      .col-xs-5.col-xs-offset-2.col-sm-3.col-sm-offset-6.col-lg-2.col-lg-offset-8.center-col.text-right
        a(href='http://ad-ventures.pl/')
          img.center-col(src='assets/img/logo-ad-ventures-dark.svg', alt='Ad Ventures logo', itemprop='logo', width="100%")
