section#mentors.padding-top-l.padding-bottom-l
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h1.special-h1.padding-bottom-s.text-center Mentors
    .row
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/gbanas', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Greg-Banas.jpg', height='80px', width='80px', alt='Greg Banaś photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
            br
            a.font-italic(href='http://ad-ventures.pl', target='_blank') Ad Ventures
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Greg is CEO and partner at Ad Ventures, consulting company and micro-venture. He is connecting startups with investors and corporate partners...
          a.text-center(data-toggle='modal', data-target='#Greg-Banas') read more
        #Greg-Banas.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/gbanas', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Greg-Banas.jpg', height='80px', width='80px', alt='Greg Banaś photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
                  br
                  a.font-italic(href='http://ad-ventures.pl', target='_blank') Ad Ventures
              .modal-body
                | Greg is CEO and partner at Ad Ventures, consulting company and micro-venture. He is connecting startups with investors and corporate partners, helping in negotations of investment conditions so they are fair for both sides. Ad Ventures is official partner for CEE of Chinese fund Hyperspace Capital.
                br
                br
                | Greg has been Head of Investments for Hubraum, corporate Seed Fund of Deutsche Telekom / T- Mobile group. He has also been a consultant at Ernst&Young, worked for Seed and Venture Capital funds and has been conducting business on his own as entrepreneur in various companies. He has been a member of a number of Supervisory Boards and was involved in IPO for NewConnect market.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/karol-szubstarski-93462073/en', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Karol-Szubstarski.jpg', height='80px', width='80px', alt='Karol Szubstarski photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/karol-szubstarski-93462073/en', target='_blank') Karol Szubstarski
            br
            a.font-italic(href='http://www.intelcapital.com/', target='_blank') Intel Capital
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Karol is currently working as Associate / Investment Analyst in Intel Capital. Karol has joined the team in 2013 and his major responsibilities include analytical...
          a.text-center(data-toggle='modal', data-target='#Karol-Szubstarski') read more
        #Karol-Szubstarski.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/karol-szubstarski-93462073/en', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Karol-Szubstarski.jpg', height='80px', width='80px', alt='Karol Szubstarski photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/karol-szubstarski-93462073/en', target='_blank') Karol Szubstarski
                  br
                  a.font-italic(href='http://www.intelcapital.com/', target='_blank') Intel Capital
              .modal-body
                | Karol is currently working as Associate / Investment Analyst in Intel Capital. Karol has joined the team in 2013 and his major responsibilities include analytical support for EMAR region (Central Eastern Europe, Middle East, Russia/CIS & Africa), mostly on pre-investment stage. On top of Analyst role responsibilities - Karol is actively involved in other elements of Investment process such as opportunities sourcing, due diligence etc. Prior to this role he was involved in Insight & Market Research team in Intel. Karol has also taken part in Talent Development Program in L’Oreal and was working in Sales DPGP department. Karol holds double major from Warsaw School of Economics & Poznan University of Economics. In his free time he enjoys sailing & traveling.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/majewskidominik/en', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Dominik-Majewski.jpg', height='80px', width='80px', alt='Dominik Majewski photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/majewskidominik/en', target='_blank') Dominik Majewski
            br
            a.font-italic(href='http://www.leonardofund.pl/', target='_blank') Leonardo Fund
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Dominik is anentrepreneur, investor and board member of The Leonardo Fund. He is responsible for strategic and operational actions in addition to the analysis...
          a.text-center(data-toggle='modal', data-target='#Dominik-Majewski') read more
        #Dominik-Majewski.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/majewskidominik/en', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Dominik-Majewski.jpg', height='80px', width='80px', alt='Dominik Majewski photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/majewskidominik/en', target='_blank') Dominik Majewski
                  br
                  a.font-italic(href='http://www.leonardofund.pl/', target='_blank') Leonardo Fund
              .modal-body
                | Dominik is anentrepreneur, investor and board member of The Leonardo Fund. He is responsible for strategic and operational actions in addition to the analysis of investment projects, carries out investments and constructs company's value. Dominik has been associated with the Venture Capital market for nearly 10 years. He has gained experience working in a bank, numerous business consulting firms and in seed and VC funds. He is the co-founder of several technological startups in the electronic, IT, education and entertainment sectors which successfully thrive on the world markets. Mentor and judge in startup events.
      .clearfix.hidden-xs.hidden-sm
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/maks-stempniewicz-7a70734b', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Maks-Stempniewicz.jpg', height='80px', width='80px', alt='Maks Stempniewicz photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/maks-stempniewicz-7a70734b', target='_blank') Maks Stempniewicz
            br
            a.font-italic(href='https://www.microsoft.com/pl-pl', target='_blank') Microsoft Poland
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | I’ve joined Microsoft more than two years ago to drive the awareness and adoption of the Azure cloud across the startup community in Poland...
          a.text-center(data-toggle='modal', data-target='#Maks-Stempniewicz') read more
        #Maks-Stempniewicz.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/maks-stempniewicz-7a70734b', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Maks-Stempniewicz.jpg', height='80px', width='80px', alt='Maks Stempniewicz photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/maks-stempniewicz-7a70734b', target='_blank') Maks Stempniewicz
                  br
                  a.font-italic(href='https://www.microsoft.com/pl-pl', target='_blank') Microsoft Poland
              .modal-body
                | I’ve joined Microsoft more than two years ago to drive the awareness and adoption of the Azure cloud across the startup community in Poland. Currently, I’m leading and supporting all startup activities at Microsoft Poland, including Microsoft BizSpark, Imagine Cup, VC Speed Dating,Innovation Trends, and many more. On a daily basis I engage with promising startups and startup organizations in order to generate and manage relationship with hot and early stage companies. I work in collaboration with the VC community, corporations and business units at Microsoft to generate sales and funding opportunities.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/agata-kowalska-4b816667/en', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Agata-Kowalska.jpg', height='80px', width='80px', alt='Agata Kowalska photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/agata-kowalska-4b816667/en', target='_blank') Agata Kowalska
            br
            a.font-italic(href='http://ck-legal.pl/pl/', target='_blank') CK Legal
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Agata specializes in mergers and acquisitions and legal aspects of VC/PE transactions. She has a vast experience of over 10 years in dealing with intellectual...
          a.text-center(data-toggle='modal', data-target='#Agata-Kowalska') read more
        #Agata-Kowalska.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/agata-kowalska-4b816667/en', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Agata-Kowalska.jpg', height='80px', width='80px', alt='Agata Kowalska photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/agata-kowalska-4b816667/en', target='_blank') Agata Kowalska
                  br
                  a.font-italic(href='http://ck-legal.pl/pl/', target='_blank') CK Legal
              .modal-body
                | Agata specializes in mergers and acquisitions and legal aspects of VC/PE transactions. She has a vast experience of over 10 years in dealing with intellectual property law matters, especially related to the Internet. She cooperates with various funds and start-ups, mostly from the area of new technologies, conducts due diligence procedures of legal entities, advises and takes companies public (New Connect). She also is a highly skilled sports lawyer. She speaks at conferences and conducts numerous workshops for entrepreneurs, especially in the field of intellectual property law, copyright protection and investment agreements.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/marekciesla', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Marek-Ciesla.jpg', height='80px', width='80px', alt='Marek Cieśla photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/marekciesla', target='_blank') Marek Cieśla
            br
            a.font-italic(href='http://mimigroup.pl/', target='_blank') MIMI Group
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Building global brands, founder of allplayer, mimigroup, sher.ly, woolet and balldur. Board Director at IndieDesigners and CrossLifter.
          a.text-center(data-toggle='modal', data-target='#Marek-Ciesla') read more
        #Marek-Ciesla.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/marekciesla', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Marek-Ciesla.jpg', height='80px', width='80px', alt='Marek Cieśla photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/marekciesla', target='_blank') Marek Cieśla
                  br
                  a.font-italic(href='http://mimigroup.pl/', target='_blank') MIMI Group
              .modal-body
                | Building global brands, founder of allplayer, mimigroup, sher.ly, woolet and balldur. Board Director at IndieDesigners and CrossLifter.
      .clearfix.hidden-xs.hidden-sm
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/maciejtraczyk', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Maciej-Traczyk.jpg', height='80px', width='80px', alt='Maciej Traczyk photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/maciejtraczyk', target='_blank') Maciej Traczyk
            br
            a.font-italic(href='http://lsccom.com/', target='_blank') LSC Communications
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Bridging the gap between cultures - geographically and organizationally. Spent several years in Asia working in Japan and China. Big fan of American-style...
          a.text-center(data-toggle='modal', data-target='#Maciej-Traczyk') read more
        #Maciej-Traczyk.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/maciejtraczyk', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Maciej-Traczyk.jpg', height='80px', width='80px', alt='Maciej Traczyk photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/maciejtraczyk', target='_blank') Maciej Traczyk
                  br
                  a.font-italic(href='http://lsccom.com/', target='_blank') LSC Communications
              .modal-body
                | Bridging the gap between cultures - geographically and organizationally. Spent several years in Asia working in Japan and China. Big fan of American-style entrepreneurship. Successfully generated millions of dollars of revenue from new products added to corporate portfolio.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/michalpukacz/en', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Michal-Pukacz.jpg', height='80px', width='80px', alt='Michał Pukacz photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/michalpukacz/en', target='_blank') Michał Pukacz
            br
            a.font-italic(href='http://www.iofthings.pl/', target='_blank') iofthings
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Coordinator and Executive Board member of The Polish Research and Development Cluster of the Internet of Things. The youngest member of National Chamber...
          a.text-center(data-toggle='modal', data-target='#Michal-Pukacz') read more
        #Michal-Pukacz.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/michalpukacz/en', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Michal-Pukacz.jpg', height='80px', width='80px', alt='Michał Pukacz photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/michalpukacz/en', target='_blank') Michał Pukacz
                  br
                  a.font-italic(href='http://www.iofthings.pl/', target='_blank') iofthings
              .modal-body
                | Coordinator and Executive Board member of The Polish Research and Development Cluster of the Internet of Things. The youngest member of National Chamber of Commerce committee of the urban economy, the largest independent business organization in Poland. Over ten years experience in trading working for such brands us Apple, SAD, iSource. Startup guy, passionate about new technologies, trying to pass as much as possible knowledge to the Lublin startup community. Co-organizer of two regular events of the IT industry, Aula Polska Lublin and Startup Weekend Lublin. Co-founder of the Lublin Academy of IT, where the main rule is that everyone can learn how to program.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://www.linkedin.com/in/mjaskolski', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Michal-Jaskolski.jpg', height='80px', width='80px', alt='Michał Jaskólski photo')
          .center-col.padding-left-xs
            a.h4(href='https://www.linkedin.com/in/mjaskolski', target='_blank') Michał Jaskólski
            br
            a.font-italic(href='http://www.morizon.pl/', target='_blank') Morizon S.A.
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Co-founder of Grupa Nokaut S.A. listed on the main Warsaw Stock Exchange market and Morizon S.A. - real estate company listed on NewConnect...
          a.text-center(data-toggle='modal', data-target='#Michal-Jaskolski') read more
        #Michal-Jaskolski.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://www.linkedin.com/in/mjaskolski', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Michal-Jaskolski.jpg', height='80px', width='80px', alt='Michał Jaskólski photo')
                .center-col.padding-left-xs
                  a.h2(href='https://www.linkedin.com/in/mjaskolski', target='_blank') Michał Jaskólski
                  br
                  a.font-italic(href='http://www.morizon.pl/', target='_blank') Morizon S.A.
              .modal-body
                | Co-founder of Grupa Nokaut S.A. listed on the main Warsaw Stock Exchange market and Morizon S.A. - real estate company listed on NewConnect stock market. VP Product at morizon.pl and business angel. Online since 1997. Involved in creating online products since 1999. Used to be a web designer, web developer, senior analyst, team leader, project manager and product manager as freelancer and in many different companies including Wirtualna Polska and GetResponse. Fascinated by the new technologies, ideas and startups. Geek and early adopter. Captures the world around by taking photos and listens to alternative music (often - live).
      .clearfix.hidden-xs.hidden-sm
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/bartosz-józefowski-10b6854', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Bartosz-Jozefowski.jpg', height='80px', width='80px', alt='Bartosz Józefowski photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/bartosz-józefowski-10b6854', target='_blank') Bartosz Józefowski
            br
            a.font-italic(href='http://www.kpt.krakow.pl/', target='_blank') Krakowski Park Technologiczny
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Manager of Technology Incubator at Krakow Technology Park where more than 30 startups develop their products. Member of the Board at seed fund FZKPT...
          a.text-center(data-toggle='modal', data-target='#Bartosz-Jozefowski') read more
        #Bartosz-Jozefowski.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/bartosz-józefowski-10b6854', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Bartosz-Jozefowski.jpg', height='80px', width='80px', alt='Bartosz Józefowski photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/bartosz-józefowski-10b6854', target='_blank') Bartosz Józefowski
                  br
                  a.font-italic(href='http://www.kpt.krakow.pl/', target='_blank') Krakowski Park Technologiczny
              .modal-body
                | Manager of Technology Incubator at Krakow Technology Park where more than 30 startups develop their products. Member of the Board at seed fund FZKPT that has portfolio of 20 investments. Deeply involved in Krakow startup community #omgkrk, responsible mainly for relations with public administration. Leader of Desing Thinking workshops and business development trainings. Involved in several NGO organisations.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/norbert-młynarczyk-2381148a/en', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Norbert-Mlynarczyk.jpg', height='80px', width='80px', alt='Norbert Młynarczyk photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/norbert-młynarczyk-2381148a/en', target='_blank') Norbert Młynarczyk
            br
            a.font-italic(href='http://km-legal.com.pl/', target='_blank') KM Kulicki Młynarczyk
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Lawyer, cofounder and managing partner at Kulicki Młynarczyk law firm working with new technology sector companies and VC funds. He specialises in investment transactions...
          a.text-center(data-toggle='modal', data-target='#Norbert-Mlynarczyk') read more
        #Norbert-Mlynarczyk.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/norbert-młynarczyk-2381148a/en', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Norbert-Mlynarczyk.jpg', height='80px', width='80px', alt='Norbert Młynarczyk photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/norbert-młynarczyk-2381148a/en', target='_blank') Norbert Młynarczyk
                  br
                  a.font-italic(href='http://km-legal.com.pl/', target='_blank') KM Kulicki Młynarczyk
              .modal-body
                | Lawyer, cofounder and managing partner at Kulicki Młynarczyk law firm working with new technology sector companies and VC funds. He specialises in investment transactions. He advises on all steps of investment process. On behalf of the startups and VCs he is negotiating terms and structuring conditions of investment agreements. He specialties also in mergers and acquisitions and capital market regulations. He is involved in preparing emission prospects and due diligence activities. Expert and speaker at numerous events and conferences regarding new technologies.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/agatakukwa', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Agata-Kukwa.jpg', height='80px', width='80px', alt='Agata Kukwa photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/agatakukwa', target='_blank') Agata Kukwa
            br
            a.font-italic(href='http://150sec.com/', target='_blank') 150sec
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Multi skilled entrepreneur, talented in communications, non-exec director, startup mentor & public speaker. Since 2011 she helped over 30 early stage brands...
          a.text-center(data-toggle='modal', data-target='#Agata-Kukwa') read more
        #Agata-Kukwa.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/agatakukwa', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Agata-Kukwa.jpg', height='80px', width='80px', alt='Agata Kukwa photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/agatakukwa', target='_blank') Agata Kukwa
                  br
                  a.font-italic(href='http://150sec.com/', target='_blank') 150sec
              .modal-body
                | Multi skilled entrepreneur, talented in communications, non-exec director, startup mentor & public speaker. Since 2011 she helped over 30 early stage brands to enter the market or improve their online performance. She gained experience on venture capital market as a non-exec. communication director in one of the biggest Polish capital funds, Black Pearls VC. She also worked as an online personal brander improving professional image of managers and scientists. Currently cofounder and Communications Leader in 
                a(href='150sec.com', target='_blank') 150sec.com
                | , an online magazine covering tech & business news.
      .clearfix.hidden-xs.hidden-sm
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://www.linkedin.com/in/itsjustkonrad', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Konrad-Pabianczyk.jpg', height='80px', width='80px', alt='Konrad Pabiańczyk photo')
          .center-col.padding-left-xs
            a.h4(href='https://www.linkedin.com/in/itsjustkonrad', target='_blank') Konrad Pabiańczyk
            br
            a.font-italic(href='http://ronisvision.com', target='_blank') ronisvision.com
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Entrepreneur. Currently Global Head of Artificial Intelligence at Technologies Capital, a spin off of ITACO Trading. Previously co founder and COO at Craftinity...
          a.text-center(data-toggle='modal', data-target='#Konrad-Pabianczyk') read more
        #Konrad-Pabianczyk.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://www.linkedin.com/in/itsjustkonrad', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Konrad-Pabianczyk.jpg', height='80px', width='80px', alt='Konrad Pabiańczyk photo')
                .center-col.padding-left-xs
                  a.h2(href='https://www.linkedin.com/in/itsjustkonrad', target='_blank') Konrad Pabiańczyk
                  br
                  a.font-italic(href='http://ronisvision.com', target='_blank') ronisvision.com
              .modal-body
                | Entrepreneur. Currently Global Head of Artificial Intelligence at Technologies Capital, a spin off of ITACO Trading. Previously co founder and COO at Craftinity, an AI startup. Founded other startups previously and was a part of building products, marketing, sales, account management, legal and looking for investors and raising rounds. Experience in astrophysics research. Consulted on many other startup and corporate projects. Currently working between startups, corporate and VC on an international scale.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/irena-pawłowski-0b6b0138', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Irka-Pawlowski.jpg', height='80px', width='80px', alt='Irka Pawłowski photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/irena-pawłowski-0b6b0138', target='_blank') Irka Pawłowski
            br
            a.font-italic(href='http://www.pulseagency.net/', target='_blank') Pulse Media Group
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Marketing Strategist, Business Development Expert, Tech and Automation Guru. Irka takes a wealth of knowledge and experience from both the Public and Private Sector...
          a.text-center(data-toggle='modal', data-target='#Irka-Pawlowski') read more
        #Irka-Pawlowski.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/irena-pawłowski-0b6b0138', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Irka-Pawlowski.jpg', height='80px', width='80px', alt='Irka Pawłowski photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/irena-pawłowski-0b6b0138', target='_blank') Irka Pawłowski
                  br
                  a.font-italic(href='http://www.pulseagency.net/', target='_blank') Pulse Media Group
              .modal-body
                | Marketing Strategist, Business Development Expert, Tech and Automation Guru. Irka takes a wealth of knowledge and experience from both the Public and Private Sector in Europe and North America to provide best-practice bespoke solutions for B2B SaaS companies. Irka is also and experience corporate trainer, facilitator, copy writer and designer.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://de.linkedin.com/in/michael-jezela-2806ba102/en', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Michael-Jezela.jpg', height='80px', width='80px', alt='Michael Jezela photo')
          .center-col.padding-left-xs
            a.h4(href='https://de.linkedin.com/in/michael-jezela-2806ba102/en', target='_blank') Michael Jezela
            br
            a.font-italic(href='http://www.hyperspacecapital.cn/', target='_blank') Hyperspace Capital
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | In 2015 he joined the Shanghai based Hyperspace Group to take care of the business development in Europe. Ever since he is actively supporting startups...
          a.text-center(data-toggle='modal', data-target='#Michael-Jezela') read more
        #Michael-Jezela.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://de.linkedin.com/in/michael-jezela-2806ba102/en', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Michael-Jezela.jpg', height='80px', width='80px', alt='Michael Jezela photo')
                .center-col.padding-left-xs
                  a.h2(href='https://de.linkedin.com/in/michael-jezela-2806ba102/en', target='_blank') Michael Jezela
                  br
                  a.font-italic(href='http://www.hyperspacecapital.cn/', target='_blank') Hyperspace Capital
              .modal-body
                | Besides his job as a senior consultant in an international consultancy he founded his company "Megaelefant", an e-commerce shop for Indian clothing and accessories, in 2013. In 2015 he joined the Shanghai based Hyperspace Group to take care of the business development in Europe. Ever since he is actively supporting startups interested in expanding to China in every manner. Apart from that Michael is generating a concrete deal-flow for Chinese investors interested in European investment targets on the platform "InvesTarget". His experience on the entrepreneurial and investors side form the perfect condition for him to have a deep understanding of both perspectives.
      .clearfix.hidden-xs.hidden-sm
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/mbielowka', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Marcin-Bielowka.jpg', height='80px', width='80px', alt='Marcin Bielówka photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/mbielowka', target='_blank') Marcin Bielówka
            br
            a.font-italic(href='http://www.innoventure.io/', target='_blank') INNOventure
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Managing partner of INNOventure.io, an investment vehicle whose aim is to support innovative scientists, engineers, and entrepreneurs in developing...
          a.text-center(data-toggle='modal', data-target='#Marcin-Bielowka') read more
        #Marcin-Bielowka.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/mbielowka', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Marcin-Bielowka.jpg', height='80px', width='80px', alt='Marcin Bielówka photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/mbielowka', target='_blank') Marcin Bielówka
                  br
                  a.font-italic(href='http://www.innoventure.io/', target='_blank') INNOventure
              .modal-body
                | Managing partner of INNOventure.io, an investment vehicle whose aim is to support innovative scientists, engineers, and entrepreneurs in developing and finding ways to commercialize their projects. Former CEO of Krakow Technology Park Seed Fund, where his activity resulted in investments which led to the establishment of over 20 companies; 13 of them have acquired further funding from other investors or have exited
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://il.linkedin.com/in/hila-glick-0a831426', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Hila-Glick.jpg', height='80px', width='80px', alt='Hila Glick photo')
          .center-col.padding-left-xs
            a.h4(href='https://il.linkedin.com/in/hila-glick-0a831426', target='_blank') Hila Glick
            br
            a.font-italic(href='http://startau.co.il/', target='_blank') StarTau Tel Aviv
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Hila is a design strategist and entrepreneur working as International partnership manager & Director, International Affairs at Tel Aviv University entrepreneurship center...
          a.text-center(data-toggle='modal', data-target='#Hila-Glick') read more
        #Hila-Glick.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://il.linkedin.com/in/hila-glick-0a831426', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Hila-Glick.jpg', height='80px', width='80px', alt='Hila Glick photo')
                .center-col.padding-left-xs
                  a.h2(href='https://il.linkedin.com/in/hila-glick-0a831426', target='_blank') Hila Glick
                  br
                  a.font-italic(href='http://startau.co.il/', target='_blank') StarTau Tel Aviv
              .modal-body
                | Hila is a design strategist and entrepreneur working as International partnership manager & Director, International Affairs at Tel Aviv University entrepreneurship center.( StarTAU) As the Director of International Affairs at Tel Aviv University Entrepreneurship Center, her main focus is to consult global entities on how to leverage their contributions and development in the startup and innovation arena, initiate new projects, and provide a platform to connect global corporations with the Israeli /international startup ecosystem. Hila manages communication between hundreds of leadingcompanies and their advanced technological solutions, mainly startups, to connect them with the relevant business partners and opportunities around the world. By working closely with diplomats, governmental organisations, and commercial partners, Hila has been able to create new paths for knowledge exchange and business collaboration. Hila have vast experience working in the design, entrepreneurship, and business sectors attaining diverse skills in project management, design directing, and developing a communications strategy through working with international partners in Europe, US, Japan, and China.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/ewajenniferabel', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Ewa-Abel.jpg', height='80px', width='80px', alt='Ewa Jennifer Abel photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/ewajenniferabel', target='_blank') Ewa Jennifer Abel
            br
            a.font-italic(href='http://gpventures.pl/', target='_blank') Giza Polish Ventures
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Partner at a VC fund Giza Polish Ventures, responsible for initial analysis of investment prospects, Business and Intellectual Capital Due Diligence...
          a.text-center(data-toggle='modal', data-target='#Ewa-Abel') read more
        #Ewa-Abel.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/ewajenniferabel', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Ewa-Abel.jpg', height='80px', width='80px', alt='Ewa Jennifer Abel photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/ewajenniferabel', target='_blank') Ewa Jennifer Abel
                  br
                  a.font-italic(href='http://gpventures.pl/', target='_blank') Giza Polish Ventures
              .modal-body
                | Partner at a VC fund Giza Polish Ventures, responsible for initial analysis of investment prospects, Business and Intellectual Capital Due Diligence, overseeing the investment process and monitoring of portfolio companies. Ewa holds an MSc in Finance degree from EDHEC Business School in Nice, France and a BA in Business and International Finance from Oxford Brookes in UK. She has previously worked as sales analyst in the investment banking sales department of Diamond Capital and as a research analyst at Cowry Asset Management in Lagos, Nigeria.
      .clearfix.hidden-xs.hidden-sm
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/piotr-przewrocki-4165ba', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Piotr-Przewrocki.jpg', height='80px', width='80px', alt='Piotr Przewrocki photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/piotr-przewrocki-4165ba', target='_blank') Piotr Przewrocki
            br
            a.font-italic(href='http://qbnfund.ventures/', target='_blank') QBN Seed Fund and Accelerator
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Serial Enterpreneur, Business Angel, Invested in 23 tech companies both in Poland and abroad. Managing Partner and investor in QBN Seed Fund...
          a.text-center(data-toggle='modal', data-target='#Piotr-Przewrocki') read more
        #Piotr-Przewrocki.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/piotr-przewrocki-4165ba', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Piotr-Przewrocki.jpg', height='80px', width='80px', alt='Piotr Przewrocki photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/piotr-przewrocki-4165ba', target='_blank') Piotr Przewrocki
                  br
                  a.font-italic(href='http://qbnfund.ventures/', target='_blank') QBN Seed Fund and Accelerator
              .modal-body
                | Serial Enterpreneur, Business Angel, Invested in 23 tech companies both in Poland and abroad. Managing Partner and investor in QBN Seed Fund. As a part of investment QBN fund offers to startups an tailored made acceleration period in Silicon Valley or New York area. Love snowboarding and kitesurfing.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://www.linkedin.com/in/adam-bartkowski-4227603', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Adam-Bartkowski.jpg', height='80px', width='80px', alt='Adam S. Bartkowski photo')
          .center-col.padding-left-xs
            a.h4(href='https://www.linkedin.com/in/adam-bartkowski-4227603', target='_blank') Adam S. Bartkowski
            br
            a.font-italic(href='http://www.polsource.com/', target='_blank') PolSource LLC
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Serial entrepreneur. Founded company with no outside funding and grew them from 20 to 80 + people with revenue growth of 1200%...
          a.text-center(data-toggle='modal', data-target='#Adam-Bartkowski') read more
        #Adam-Bartkowski.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://www.linkedin.com/in/adam-bartkowski-4227603', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Adam-Bartkowski.jpg', height='80px', width='80px', alt='Adam S. Bartkowski photo')
                .center-col.padding-left-xs
                  a.h2(href='https://www.linkedin.com/in/adam-bartkowski-4227603', target='_blank') Adam S. Bartkowski
                  br
                  a.font-italic(href='http://www.polsource.com/', target='_blank') PolSource LLC
              .modal-body
                | Serial entrepreneur. Founded company with no outside funding and grew them from 20 to 80 + people with revenue growth of 1200%. Organized operations in three geographies: Poland, UK and USA and achieved position of key global partner of Salesforce. and Major Fortune 200 businesses. He also transformed businesses from a services to a products companies and globalized them in both product and channel.
      .col-xs-12.col-md-4.padding-bottom-xs
        .center-container
          a(href='https://pl.linkedin.com/in/paweł-budny-714a424', target='_blank')
            img.img-circle.center-col(src='assets/img/mentors/Pawel-Budny.jpg', height='80px', width='80px', alt='Paweł Budny photo')
          .center-col.padding-left-xs
            a.h4(href='https://pl.linkedin.com/in/paweł-budny-714a424', target='_blank') Paweł Budny
            br
            a.font-italic(href='www.orange.pl', target='_blank') Orange
        .padding-top-xxs
          p.max-height.margin-bottom-none
            | Expert R&D and Innovation Manager in Orange Labs, Orange Poland Marketing strategy, product management, business development and implementation...
          a.text-center(data-toggle='modal', data-target='#Pawel-Budny') read more
        #Pawel-Budny.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header.center-container
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
                .center-col
                  a(href='https://pl.linkedin.com/in/paweł-budny-714a424', target='_blank')
                    img.img-circle.center-col(src='assets/img/mentors/Pawel-Budny.jpg', height='80px', width='80px', alt='Paweł Budny photo')
                .center-col.padding-left-xs
                  a.h2(href='https://pl.linkedin.com/in/paweł-budny-714a424', target='_blank') Paweł Budny
                  br
                  a.font-italic(href='www.orange.pl', target='_blank') Orange
              .modal-body
                | Expert R&D and Innovation Manager in Orange Labs, Orange Poland Marketing strategy, product management, business development and implementation management of new, innovative products with an emphasis on value proposition. Longtime manager of marketing teams responsible for product management, communication and implementation of sales targets. More than 10 years of experience in building marketing strategy, communication strategy and management of product lifecycle.
      .clearfix.hidden-xs.hidden-sm
    .row
      .col-xs-8.col-xs-offset-2.text-center
        p.small *And more to be anounced soon!
