section#partners.padding-top-m.padding-bottom-xxl
  .container
    .row
      .col-xs-10.col-xs-offset-1
        h1.special-h1.padding-bottom-l.text-center Partners
    .row
      .col-xs-5.col-sm-3.col-lg-3.col-lg-offset-2.text-left.center-col
        a(href='http://ad-ventures.pl/')
          img.center-col(src='assets/img/logo-ad-ventures.svg', alt='Ad Ventures logo', itemprop='logo', width="100%")
      .col-xs-5.col-sm-3.col-lg-3.center-col.text-right
        a(href='http://business.krakow.pl/')
          img.center-col(src='assets/img/logo-krakow.svg', alt='Kraków logo', itemprop='logo', width="100%")
      .col-xs-5.col-sm-3.col-lg-3.center-col.text-right
        a(href='http://www.kpt.krakow.pl/')
          img.center-col(src='assets/img/logo-kpt.jpg', alt='Krakowski Part Technologiczny logo', itemprop='logo', width="100%")