
section#program.padding-top-l
  .container
    .row
      .col-xs-8.col-xs-offset-2
        h1.special-h1.padding-bottom-s.text-center Program
    .row.hidden-sm.hidden-md.hidden-lg
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.padding-bottom-s
        h4.text-uppercase.text-center Monday - 23.10*
        h3.text-uppercase.text-center Pitch Training Day
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 10:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead The way to Perfect Pitch
            i.display-block.padding-bottom-xxs Workshops and Consultations
            .center-container.display-block
              img.img-circle.center-col(src='assets/img/mentors/Greg-Banas-small.jpg', height='45px', width='45px', alt='Greg Banaś photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
            .center-container.display-block.padding-top-xxs
              img.img-circle.center-col(src='assets/img/mentors/Kinga-Waclawik-small.jpg', height='45px', width='45px', alt='Kinga Wacławik photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/kingawaclawik', target='_blank') Kinga Wacławik
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.border-top.padding-top-s
        h4.text-uppercase.text-center Tuesday - 24.11*
        h3.text-uppercase.text-center Challenge and Demo Day 
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 12:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead Challenge your startup
            i.display-block.padding-bottom-xxs Workshops
            .center-container.display-block
              img.img-circle.center-col(src='assets/img/mentors/Greg-Banas-small.jpg', height='45px', width='45px', alt='Greg Banaś photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
            .center-container.display-block.padding-top-xxs
              img.img-circle.center-col(src='assets/img/mentors/Kinga-Waclawik-small.jpg', height='45px', width='45px', alt='Kinga Wacławik photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/kingawaclawik', target='_blank') Kinga Wacławik
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
        .row.padding-top-xs.public
          .col-xs-2.col-sm-12.col-md-2
            b.lead 18:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead Demo Day
            i.display-block.padding-bottom-xxs Opening ceremony
            .center-container.display-block
              img.img-circle.center-col(src='assets/img/mentors/Greg-Banas-small.jpg', height='45px', width='45px', alt='Greg Banaś photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
        .row.padding-top-xs.public
          .col-xs-2.col-sm-12.col-md-2
            b.lead 15:15
          .col-xs-10.col-sm-12.col-md-10
            b.lead Demo day
            i.display-block.padding-bottom-xxs Pitching
            a.btn.btn-default.btn-s.btn-primary(href='#teams', target='_self') check participants
        .row.padding-top-xs.public
          .col-xs-2.col-sm-12.col-md-2
            b.lead 17:15
          .col-xs-10.col-sm-12.col-md-10
            b.lead Possibilities?
            i.display-block.padding-bottom-xxs Lectures
            b.display-block
              | How startup ecosystem in Tel Aviv works and what are possibilities for Startups in Israel?
            .center-container.display-block
              img.img-circle.center-col(src='assets/img/mentors/Hila-Glick-small.jpg', height='45px', width='45px', alt='Hila Glick photo')
              .center-col.padding-left-xs
                a(href='https://il.linkedin.com/in/hila-glick-0a831426', target='_blank') Hila Glick
                br
                a.font-italic.small(href='http://startau.co.il/', target='_blank') StarTau Tel Aviv
        .row.padding-top-xs.public
          .col-xs-2.col-sm-12.col-md-2
            b.lead 18:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead Demo day final
            i.display-block.padding-bottom-xxs Award ceremony
            a.btn.btn-default.btn-s.btn-info(href='https://www.facebook.com/events/1759724300961398/', target='_blank') join FB event
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 19:30
          .col-xs-10.col-sm-12.col-md-10
            b.lead Investors dinner
            i.display-block.padding-bottom-xxs Networking
    .row.hidden-xs.padding-bottom-m
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1
        h4.text-uppercase.text-center Monday - 23.10*
        h3.text-uppercase.text-center Pitch Training Day
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.border-left
        h4.text-uppercase.text-center Tuesday - 24.10*
        h3.text-uppercase.text-center Challenge and Demo Day 
      .clearfix
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1.border-right
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 10:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead The way to Perfect Pitch
            i.display-block.padding-bottom-xxs Workshops and Consultations
            .center-container.display-block
              img.img-circle.center-col(src='assets/img/mentors/Greg-Banas-small.jpg', height='45px', width='45px', alt='Greg Banaś photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
            .center-container.display-block.padding-top-xxs
              img.img-circle.center-col(src='assets/img/mentors/Kinga-Waclawik-small.jpg', height='45px', width='45px', alt='Kinga Wacławik photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/kingawaclawik', target='_blank') Kinga Wacławik
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
      .clearfix
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-1
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 13:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead Lunch break
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 14:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead The way to Perfect Pitch
            i.display-block.padding-bottom-xxs Workshops
            .center-container.display-block
              img.img-circle.center-col(src='assets/img/mentors/Greg-Banas-small.jpg', height='45px', width='45px', alt='Greg Banaś photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
            .center-container.display-block.padding-top-xxs
              img.img-circle.center-col(src='assets/img/mentors/Kinga-Waclawik-small.jpg', height='45px', width='45px', alt='Kinga Wacławik photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/kingawaclawik', target='_blank') Kinga Wacławik
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
      .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.border-left
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 12:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead Challenge your startup
            i.display-block.padding-bottom-xxs Opening ceremony
            .center-container.display-block
              img.img-circle.center-col(src='assets/img/mentors/Greg-Banas-small.jpg', height='45px', width='45px', alt='Greg Banaś photo')
              .center-col.padding-left-xs
                a(href='https://pl.linkedin.com/in/gbanas', target='_blank') Greg Banaś
                br
                a.font-italic.small(href='http://ad-ventures.pl', target='_blank') Ad Ventures
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 18:00
          .col-xs-10.col-sm-12.col-md-10
            b.lead Demo day
            i.display-block.padding-bottom-xxs Opening
            //a.btn.btn-default.btn-s.btn-primary(href='#teams', target='_self') check participants
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 18:15
          .col-xs-10.col-sm-12.col-md-10
            b.lead KeyNote
            i.display-block.padding-bottom-xxs Lectures
            b.display-block
              | TBA
            .center-container.display-block
              //img.img-circle.center-col(src='assets/img/mentors/Hila-Glick-small.jpg', height='45px', width='45px', alt='Hila Glick photo')
              //.center-col.padding-left-xs
                a(href='https://il.linkedin.com/in/hila-glick-0a831426', target='_blank') Hila Glick
                br
                a.font-italic.small(href='http://startau.co.il/', target='_blank') StarTau Tel Aviv
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 18:45
          .col-xs-10.col-sm-12.col-md-10
            b.lead Demo day
            i.display-block.padding-bottom-xxs Award ceremony
            a.btn.btn-default.btn-s.btn-info(href='https://www.facebook.com/events/291245094689057/', target='_blank') join FB event
        .row.padding-top-xs
          .col-xs-2.col-sm-12.col-md-2
            b.lead 19:30
          .col-xs-10.col-sm-12.col-md-10
            b.lead Beer & Prizes
            i.display-block.padding-bottom-xxs Networking
      .clearfix
    //.row.text-center.padding-top-m
      p.public.lead.display-inline-block.padding-left-xs - public events
